<h1>Editing problema voo</h1>

<%= render "form", problema_voo: @problema_voo %>

<br>

<div>
  <%= link_to "Visualizar", @problema_voo %> |
  <%= link_to "Voltar para os problemas com voos", problema_voos_path %>
</div>
