<h1>Cadastro de pedidos (voos)</h1>

<%= render "form", problema_voo: @problema_voo %>

<br>

<div>
  <%= link_to "Ir para os problemas com voos", problema_voos_path %><br><br>
  <%= link_to "Voltar para o menu", root_path %>
</div>
