<h1>Seja bem-vindo(a) a Resolvvi</h1>
<p>Escolha qual o tipo de problema que voce quer relatar?</p>

<%= link_to "Problema com voo", new_problema_voo_path %><br><br>
<%= link_to "Problema com nome negativado indevidamente", new_problema_negativado_path %>
