<h1>Editing problema negativado</h1>

<%= render "form", problema_negativado: @problema_negativado %>

<br>

<div>
  <%= link_to "Visualizar", @problema_negativado %> |
  <%= link_to "Voltar para os problemas com negativados", problema_negativados_path %>
</div>
