<h1>Cadastro de pedidos (negativados)</h1>

<%= render "form", problema_negativado: @problema_negativado %>

<br>

<div>
  <%= link_to "Ir para os problemas com negativados", problema_negativados_path %><br><br>
  <%= link_to "Voltar para o menu", root_path %>
</div>
